{% extends "unit_logs/base.html" %}

{% block content %} 

<style>
    .units{
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }
</style>


    
<div class="pb-2 mb-2 border-bottom">
   
    <a class="btn btn-primary" href="{% url 'unit_logs:new_enable' %}" role="button">Add a new Enable</a>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for enable in enables %}
        {% if enable.status == 'STICK' %}
            <a href="{% url 'unit_logs:enable' enable.id %}">
            <li>{{ enable.date_added|date:'M d' }} - {{ enable }}</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for enable in enables %}
    {% if enable.status == 'MISSING' %}
    <a href="{% url 'unit_logs:enable' enable.id %}">
    <li>{{ enable.date_added|date:'M d' }} - {{ enable }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for enable in enables %}
    {% if enable.status == 'FAILED' %}
    <a href="{% url 'unit_logs:enable' enable.id %}">
    <li>{{ enable.date_added|date:'M d' }} - {{ enable }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>
<div>
    <p>Boxed:</p>
<ul>
{% for enable in enables %}
    {% if enable.status == 'BOXED' %}
    <a href="{% url 'unit_logs:enable' enable.id %}">
    <li>{{ enable.date_added|date:'M d' }} - {{ enable }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>




</div>



{% endblock content %}