{% extends "unit_logs/base.html" %}
{% load bootstrap4 %}

{% block content %} 

<div class="card mb-3">
    <h4 class="card-header">
        {{ error }}

    {{ kauto }} 
    </h4>

    <div class="card-body">

        <p>
            <a href="{% url 'unit_logs:new_kauto_entry' kauto.id %}">Add new entry</a>
        </p>

        {% for entry in entries %}

            <a href="{% url 'unit_logs:edit_kauto_entry' entry.id %}">{{ entry.date_added|date:'M d, Y H:i' }} - {{ entry.venue }} - {{entry.status}} {{ entry.comments|linebreaks }}</a>


        {% endfor %}

        <form method="POST" class="form">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
            <button type="submit" class="btn btn-primary btn-block">Save</button>
            {% endbuttons %}
        </form>
    
        <form method="POST" action="{% url 'unit_logs:deletekauto' kauto.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-secondary btn-block">Delete</button>
        </form>
    
    </div>
</div>



{% endblock content %}