{% extends "unit_logs/base.html" %}

{% block content %} 

<style>
    .units{
        display: flex;
        flex-flow: row;
        justify-content: space-around;

    }
</style>


    
<div class="pb-2 mb-2 border-bottom">
   
    <a class="btn btn-primary" href="{% url 'unit_logs:new_winx' %}" role="button">Add a new Winx</a>
</div>

<div class="units">

<div>
    <p>Sticks:</p>
<ul>
    {% for winx in winxes %}
        {% if winx.status == 'STICK' %}
            <a href="{% url 'unit_logs:winx' winx.id %}">
            <li>{{ winx.date_added|date:'M d' }} - {{ winx }}</li>
            </a>
        {% endif %}
    {% endfor %}
</ul>
</div>


<div>
    <p>Not on map:</p>
<ul>
{% for winx in winxes %}
    {% if winx.status == 'MISSING' %}
    <a href="{% url 'unit_logs:winx' winx.id %}">
    <li>{{ winx.date_added|date:'M d' }} - {{ winx }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Failed:</p>
<ul>
{% for winx in winxes %}
    {% if winx.status == 'FAILED' %}
    <a href="{% url 'unit_logs:winx' winx.id %}">
    <li>{{ winx.date_added|date:'M d' }} - {{ winx }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>

<div>
    <p>Boxed:</p>
<ul>
{% for winx in winxes %}
    {% if winx.status == 'BOXED' %}
    <a href="{% url 'unit_logs:winx' winx.id %}">
    <li>{{ winx.date_added|date:'M d' }} - {{ winx }}</li>
    </a>
    {% endif %}
{% endfor %}
</ul>
</div>



</div>



{% endblock content %}